// border
// ============================================

.border {
    border-width: 5px;
    border-style: solid;
    @include md {
        border-width: 8px;
    }
}

.border-w5 {
    border-width: 4px;
    border-style: solid;
    @include md {
        border-width: 5px;
    }
}

.border-w6 {
    border-width: 4px;
    border-style: solid;
    @include md {
        border-width: 6px;
    }
}

.border-top {
    border-top-width: 4px;
    border-top-style: solid;
    @include lg {
        border-top-width: 6px;
    }
}

.border-style-solid {
    border-style: solid;
}

.border-bottom {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    @include lg {
        border-bottom-width: 6px;
    }
}

.border-top-width-1 {
    border-top-width: 1px;
}

.border-top-width-2 {
    border-top-width: 2px;
}

.border-bottom-width-1 {
    border-bottom-width: 1px;
}

.border-bottom-width-2 {
    border-bottom-width: 2px;
}

.border-bottom-width-3 {
    border-bottom-width: 3px;
}

.border-width-8 {
    border-width: 8px;
}

.border-width-5 {
    border-width: 5px;
}

// border-color
// ====================================
.border-color-primary {
    border-color: $primary;
}

.border-color-secondary {
    border-color: $secondary;
}

.border-color-third {
    border-color: $third;
}

.border-color-fourth {
    border-color: $fourth;
}

.border-color-base {
    border-color: $base;
}

.border-color-link {
    border-color: $link;
}



// border-radius
// ============================================

.round-right {
    border-radius: 0 0 1.3em 0;
}

.round-left {
    border-radius: 0 0 0 1.3em;
}

.round-pill-30 {
    border-radius: 1.875rem;
}

.round-pill {
    border-radius: 3rem;
}

.round-circle {
    border-radius: 50%;
}

.round-left-3rem {
    border-radius: 0 0 0 3rem;
}

.round-right-3rem {
    border-radius: 0 0 3rem 0;
}

.round-left-4rem {
    border-radius: 0 0 0 4rem;
}

.round-right-4rem {
    border-radius: 0 0 4rem 0;
}

@include md {
    .round-pill {
        border-radius: 5rem;
    } 
    
    .round-left-md-4rem {
        border-radius: 0 0 0 4rem;
    }
    
    .round-right-md-4rem {
        border-radius: 0 0 4rem 0;
    }
}

// underline
.underline {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        @include md {
            height: .375rem;
            top: calc(100% + .3rem);
        }
    }
    &-green {
        &::after {
            background-color: $third;
        }
    }
    &-pink {
        &:after {
            background-color: $secondary;
        }
    }
}