// width
// ============================================

// このサイト独自に設定した値
.container {
    width: 100%;
    margin: 0 auto;
    @include md {
        width: 83.53%;
        max-width: 1136px;
    }

    &-page {
        width: calc(100% - 30px);
    }
}
.w-90 {
    width: $ColumnWidth90;
}
.w-82 {
    width: $ColumnWidth82;
}
.wf {
    width: 100%;
}

@include mdn {
    .mw-82 {
        max-width: 82.8%;
    }
}

@include md {
    .w-md-90-2 {
        width: $ColumnWidth90;
    }
    .w-md-73 {
        width: $ColumnWidth73;
    }
    
    .w-md-49 {
        width: $ColumnWidth49;
    }
    .w-md-48 {  
        width: $ColumnWidth48;
    }
    .w-md-47 {
        width: $ColumnWidth47;
    }
    .w-md-45 {
        width: $ColumnWidth45;
    }
    .mw-md-830 {
        max-width: 830px;
    }
    .w-468-pc {
        width: 468px;
    }
    // max width
    .mw-md-60 {
        max-width: $ColumnWidth60;
    }
    .mw-md-55 {
        max-width: $ColumnWidth55;
    }
    .mw-md-50 {
        max-width: $ColumnWidth50;
    }
    .mw-md-45 {
        max-width: $ColumnWidth45;
    }
    .mw-md-40 {
        max-width: $ColumnWidth40;
    }
    // min widht
    .minw-md-40 {
        min-width: $ColumnWidth40;
    }

    .w-md-30 {
        width: 30%;
    }
}



// Bootstrap +　α
// w-0　〜　w-100 を＋５づつ生成

$width-min: 0;
$width-max: 20;

// @for $i from $width-min through $width-max {
//     .w-#{$i * 5} {
//         width: #{$i * 5} + '%';
//     }
//     @include md {
//         .w-md-#{$i * 5} {
//             width: #{$i * 5} + "%";
//         }
//     }
//     @include lg {
//         .w-lg-#{$i * 5} {
//             width: #{$i * 5} + "%";
//         }
//     }
// }

.col-md-3 {
    @include md {
        width: 25%;
    }
}

.col-md-4 {
    @include md {
        width: 33.33333333%;
    }
}

.col-md-5 {
    @include md {
        width: 41.66666667%;
    }
}

.col-md-6 {
    @include md {
        width: 50%;
    }
}

.col-md-7 {
    @include md {
        width: 58.33333333%;
    }
}

.col-md-8 {
    @include md {
        width: 66.66666667%;
    }
}

.col-md-9 {
    @include md {
        width: 75%;
    }
}