// page business
.business {
    &-picture {
        .col-md {
            @include md {
                width: 30.6666%;
            }
        }
    }
    &-contact {
        position: relative;
        display: inline-block;
        border-radius: 30px;
        padding: 22px 50px;
        margin-bottom: 10px;
        .ico {
            width: 43px;
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }
    &-aim {
        @include md {
            max-width: 597px;
        }
        .aim-item {
            padding: 20px 10px;
            @include md {
                padding: 27.5px 20px;
            }
        }
    }
}

.character {
    &-items {
        width: 328px;
        height: 328px;
        padding-top: 60px;
        padding-bottom: 73px;
    }
}