// contact
// ================
.contact-header {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    @include md {
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }

    .ttl {
        margin-bottom: 1.25rem;
        line-height: 1;
        @include md {
            margin-bottom: 2.5rem;
        }
    }
}

.contact-descript {
    width: calc(100vw);
    margin: 0 -10.5%;
    @include md {
        width: auto;
        margin: 0;
    }
}

.btn_to-faq {
    position: absolute;
    left: calc(100% + 16px);
    bottom: 0;
    a {
        width: 137px;
        height: 137px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// faq
.faq {
    width: 82.8%;
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    margin: 0 auto;
    @include md {
        width: calc(100% + 69px);
        margin: 0 -34.5px;
    }
    &-item {
        width: 100%;
        margin: 0;
        padding-bottom: 40px;
        margin: 0 0 1.875rem;
        border: solid 7px $third;
        border-radius: 30px;
        overflow: hidden;
        background-color: $white;
        &:last-child {
            margin-bottom: 0;
        }
        @include md {
            width: calc(100%/3 - 69px);
            margin: 0 34.5px;
        }
    }
    &-header {
        min-height: 67px;
        background-color: $third;
        padding: 5px 16px 14px;
        line-height: 1.5;
        @include md {
            font-size: 20px;
            padding: 25px 16px;
        }
    }
    &-body {
        padding: 20px 5px;
        @include md {
            padding: 10px;
        }
    }
}