// worker
// ===============================
.workers {
    .pages-head {
        @include mdn {
            padding-top: 20px;
            h1.ttl {
                margin-bottom: 20px;
            }
        }
    }   
}
.worker_text {
    
    @include md {
        padding: 0 10px 0 44px;
    }
}
.aim {
    width: 82.8%;
    margin: 0 auto;
    @include md {
        width: 100%;
    }
    &-item {
        display: inline-block;
        margin-bottom: 20px;
        font-size: clamp(14px, 3.738vw, 16px);
        padding: 12px 10px;
        z-index: 1;
        @include md {
            font-size: clamp(18px, 1.471vw, 20px);
            padding: 37.5px 20px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    .ico-right {
        &:after {
            content: '';
            position: absolute;
            position: absolute;
            width: 56.96px;
            height: 46.98px;
            right: -10%;
            bottom: 0;
            background-image: url(../image/icon_circle1_right_pc@2x.png);
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: -1;
            @include md {
                width: 67px;
                height: 56px;
                bottom: -15px;
                right: -10px;
            }
        }
        &-2 {
            &:after {
                content: '';
                position: absolute;
                position: absolute;
                width: 92px;
                height: 70px;
                right: -10%;
                bottom: -15px;
                background-image: url(../image/icon_circle_right_sp.svg);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
                @include md {
                    width: 93px;
                    height: 96px;
                    bottom: -20px;
                    right: -15px;
                    background-image: url(../image/icon_circle_right.svg);
                }
                
            }
        }
    }

    .ico-left {
        &:after {
            content: '';
            position: absolute;
            position: absolute;
            width: 56.96px;
            height: 46.98px;
            left: -10%;
            bottom: 0;
            background-image: url(../image/icon_circle1_left_pc@2x.png);
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: -1;
            @include md {
                width: 67px;
                height: 56px;
                bottom: -15px;
                left: -10px;
            }
        }
    }
}

.worker-contact {
    margin-top: 60px;
    @include md {
        max-width: 434px;
        margin-top: 0;
    }
}

.service {
    .ttl {
        @include mdn {
            padding-left: 0;
            padding-right: 0;
            &:before, &:after {
                top: 40px;
                @include md {
                    top: 30px;
                }
            }

            &:before {
                left: - 40px;
                @include md {
                    left: - 30px;
                }
            }

            &:after {
                right: - 40px;
                @include md {
                    right: - 30px;
                }
            }
        }
    }
}

.story {
    .ttl {
        @include md {
            padding-left: 0;
            margin-right: 2.5rem;
            white-space: nowrap;
            &::before {
                display: none;
            }
        }
    }
    .col-md-6 {
        @include md {
            width: calc(50% - 1.25rem);
        }
    }
    &-picture {
        width: 50%;
        display: inline-block;
        @include md {
            width: 100%;
        }
    }
    &-name {
        width: 50%;
        margin: 0;
        @include md {
            width: 100%;
            margin: 1.25rem 0;
            font-size: clamp(18px, 1.471vw, 20px);
        }
    }
    
    .btn_contact_inner {
        margin: 0;
        @include md {
            width: 188px;
            height: 188px;
            position: absolute;
            top: 200px;
            left: 60px;
            .ico {
                width: 70px;
                left: -30px;
            }
        }
        a {
            @include md {
                font-size: 35px;
                line-height: 1;
                small {
                    font-size: 19px;
                }
            }
            &::before {
                display: none;
            }
            
        }
    }
}

// employment
.employment {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    border-radius: 30px;
    @include md {
        padding: 80px;
    }
    &-left {
        margin-bottom: 20px;
        @include lg {
            width: calc(100% - 440px);
            margin-bottom: 0;
        }
    }

    &-right {
        @include lg {
            width: 370px;
        }
        
    }
    &-list {
        &-item {
            width: 100%;
            background-color: #F7FAF7;
            margin-bottom: 15px;
            @include md {
                min-height: 170px;
                margin-bottom: 20px;
                padding: 10px 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.flow_list {
    li {
        width: 100%;
        min-height: 14em;
        border-radius: 30px;
        margin-bottom: 60px;
        @include md {
            width: calc(100% / 4 - 25px);
            min-width: 0;
            min-height: auto;
            margin-bottom: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:not(:last-child) {
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -50px;
                left: 50%;
                z-index: 2;
                border: solid 10px transparent;
                border-top: solid 15px $primary;
                transform: translateX(-50%);
                @include md {
                    bottom: 50%;
                    left: calc(100% + 15px);
                    border: solid 10px transparent;
                    border-left: solid 15px $primary;
                    transform: translateY(50%);
                }

            }
        }
    }
}

// info
.info {
    &-left {
        width: 100%;
        margin: 0 auto;
        @include md {
            width: 40%;
        }
    }

    &-right {
        @include md {
            width: 60%;
            padding-left: 2.5rem;
        }
        .btn_contact_inner {
            position: relative;
            @include md {
                width: 148px;
                height: 148px;
                position: absolute;
                right: -14%;
                bottom: -4rem;
                font-size: 18px;
            
                .ico {
                    width: 55px;
                }
            }
            @include lg {
                width: 188px;
                height: 188px;
                right: 0;
                font-size: 20px;
                .ico {
                    width: 70px;
                }
            }
        }
    }
}