.footer {
    padding: 2.25rem 0 100px;
    @include md {
        padding: 2.25rem 0;
    }
    &_profile, &_contact, &_nav {
        width: 100%;
    }
    &_profile {
        @include md {
            width: 27%;
            &_inner {
                width: 69.71%;
            }
        }
    }
    &_nav {
        @include md {
            width: 27%;
        }
    }
    &_contact {
        @include md {
            width: 40%;
        }
    }
    &_group_btn {
        li {
            width: calc(50% - 3px);
            @include md {
                width: auto;
            }
            + li {
                margin-left: 6px;
                @include md {
                    margin-left: 10px;
                }
                @include lg {
                    margin-left: 1.5rem;
                }
            }
        }
        a {
            min-width: 8.375rem;
            @include md {
                min-width: 90px;
            }
            @include lg {
                min-width: 8.375rem;
            }
        }
    }
    &_logo {
        width: 200px;
        margin: 0 auto;
        @include md {
            width: auto;
            margin:0;
        }
    }
}

.btn_contact_inner {
    width: 70%;
    height: 60px;
    border-radius: 30px;
    color: $base;
    margin: 0 auto;
    @include md {
        width: 9.06rem;
        height: 9.06rem;
        border-radius: 50%;
    }
    a {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        line-height: 1.5;
        &::before {
            content: "";
            display: inline-block;
            position: relative;
            width: 20px;
            height: 14px;
            margin: 0 5px 0 0;
            top: 2px;
            line-height: 18px;
            background: url(../image/icon_mail_sp.png) no-repeat center center/cover;
            @include md {
                display: block;
                width: 40px;
                height: 28px;
                margin: 0 auto .625rem;
                background: url(../image/icon_mail_pc.png) no-repeat center center/cover;
                top: 0;
            }
        }
    }
    .ico {
        width: 43px;
        position: absolute;
        bottom: -10px;
        left: 0;
        @include md {
            width: 51.55px;
            left: -25px;
        }
    }
}

.worker-btn-contact:not(.no-ico) {
    width: 75%;
    height: 62px;
    position: relative;
    border-radius: 60px;
    @include md {
        width: 138px;
        height: 138px;
        border-radius: 50%;
        &::before, &:after {
            content: '';
            position: absolute;
            top: 8px;
            width: 56.96px;
            height: 46.98px;
            background-repeat: no-repeat;
            background-size: 100%;
            @include md {
                width: 4.18rem;
                height: 3.5rem;
                top: 45%;
                transform: translateY(-50%);
            }
        }
        &:before {
            left: -120px;
            background-image: url('../image/icon_circle1_left_pc@2x.png');
        }
        &:after {
            right: -120px;
            background-image: url('../image/icon_circle1_right_pc@2x.png');
        }

        &.ico-2 {
            &:before {
                width: 93px;
                height: 96px;
                left: -130px;
                background-image: url('../image/icon_circle1_left.svg');
            }
            &:after {
                width: 93px;
                height: 96px;
                right: -120px;
                background-image: url('../image/icon_circle1_right.svg');
            }
        }
    }
    a {
        font-size: clamp(14px, 3.738vw, 16px);
        @include md {
            font-size: clamp(10px, 0.956vw, 13px);
        }
        @include mdn {
            &::before {
                width: 20px;
                height: 14px;
            }
        }
    }
}